@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timeShow {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: "Cursed Timer ULiL", sans-serif;
    background-color: lightblue;
  }

  .main {
    width: 100%;
    height: 500px;

    .blue {
      width: 400px;
      height: 400px;
      position: relative;
      z-index: 1;
    }

    .green {
      width: 400px;
      height: 400px;
      transform: translate(40px, -400px);
    }
  }
}
